$color-blue: #00bcd4;
$color-purple: #3c3950;
$color-grey1: #c9d6d8;
$color-grey2: #c5c5c5;
$color-grey3: #99a9b5;
$color-grey4: #828e97;
$color-grey5: #5c6973;
$color-grey6: #4b565d;
$color-grey7: #5f727f;
$color-grey8: #f4f6f7;
$color-grey9: #494c64;
$color-grey10: #b1c0d1;
$color-grey11: #dfe5e8;
$color-grey12: #b6c6c9;
$color-tomato: #ff5252;
$color-white: #f0f3f2;